.profile {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin-top: 30px;
}

.profileContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.profileAction {
  display: flex;
  flex-direction: inherit;
  align-items: center;
  width: 100%;
}

.actionButton {
  margin-bottom: 30px;
}

.buttonLink {
  padding: 10px 20px;
  border: none;
  background: none;
  color: blue;
  font-size: 40px;
  font-family: 'Rubik Bubbles', fantasy;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.buttonDanger {
  padding: 10px 20px;
  border: none;
  background: none;
  color: red;
  font-size: 40px;
  font-family: 'Rubik Bubbles', fantasy;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
