.inputFile {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.buttonLink {
  display: block;
  padding: 10px 20px;
  border: none;
  background: none;
  color: blue;
  font-size: 25px;
  font-family: 'Rubik Bubbles', fantasy;
  text-transform: uppercase;
  cursor: pointer;
}
