.profileImgSmall {
  width: 37px;
  height: 37px;
}

.profileImgMedium {
  width: 47px;
  height: 47px;
}

.profileImgLarge {
  width: 120px;
  height: 120px;
}

.profileImgGargantuan {
  width: 300px;
  height: 300px;
}

.profileImg {
  border-radius: 50%;
}

.clickable {
  cursor: pointer;
}
