.button {
  padding: 10px 50px;
  border: 5px solid #fff;
  border-radius: 15px;
  background: transparent;
  color: #fff;
  font: inherit;
  font-size: 32px;
  line-height: 1.2em;
  cursor: pointer;
}
