.table {
  border-collapse: collapse;
  font-size: 40px;
  user-select: none;
}

.table__caption {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.table__head {
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.ascending::after {
  display: inline-block;
  content: '▲';
  margin-left: 10px;
}

.descending::after {
  content: '▼';
  display: inline-block;
  margin-left: 10px;
}

.table__column_place,
.table__column_name,
.table__column_score,
.table__column_games,
.table__column_totalTime {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #cccccc;
}

.table__column_place {
  width: 200px;
  text-align: center;
}

.table__column_name {
  width: 350px;
  text-align: left;
}

.table__column_score {
  width: 200px;
  text-align: center;
}

.table__column_games {
  width: 150px;
  text-align: center;
}

.table__column_totalTime {
  width: 350px;
  text-align: center;
}

.table__row:hover {
  background: wheat;
}
