.gameStart {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 50px;
  line-height: 1.2em;
}

.gameStartButton {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}
