.forum {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/forumBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.forumWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(120deg 1% 45% / 75%);
  backdrop-filter: blur(0.5vh);
}

.forumTitle {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 44px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textArea {
  width: 1200px;
  height: 400px;
  padding: 10px;
  border-radius: 12px;
  background-color: hsl(30deg 34% 84%);
  box-shadow: 2px 2px 5px 1px hsl(30deg 20% 20%) inset;
  outline: none;
  font-weight: 300;
  font-size: 40px;
  font-family: 'Rubik Bubbles', fantasy;
}

.button {
  width: 400px;
  margin-top: 20px;
  background-color: hsl(30deg 34% 84%);
  outline: none;
}
