.forum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forumWrapper {
  display: flex;
  flex-direction: column;
}

.forumLink {
  max-width: 250px;
  margin-bottom: 30px;
  padding: 10px 50px;
  border: 5px solid black;
  border-radius: 15px;
  background: hsl(29deg 6% 89%);
  color: black;
  font-family: 'Rubik Bubbles', fantasy;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
}

.forumTitle {
  font-weight: 400;
  font-size: 44px;
  font-family: 'Rubik Bubbles', fantasy;
  line-height: 49px;
  text-align: center;
}
