.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.landing__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.landing__logo {
  bottom: 0;
  width: 1046px;
  height: 267px;
}

.landing__description_top,
.landing__description_bottom {
  width: 1260px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.landing__description_top {
  font-size: 40px;
  line-height: 47.4px;
}

.landing__description_bottom {
  font-size: 20px;
}

.landing__link {
  text-decoration: none;
}

.landing__button-wrapper {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.landing__button {
  font-size: 40px;
  text-transform: uppercase;
}

.landing__img-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 1446px;
}

.landing__hero-img {
  width: 253px;
  height: 191px;
}
