.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.landing__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.landing__logo {
  width: 1046px;
  height: 267px;
  bottom: 0;
}

.landing__description_top,
.landing__description_bottom {
  width: 1260px;
  text-align: center;
  font-family: RubikBubbles;
  text-decoration: none;
  text-transform: uppercase;
}

.landing__description_top {
  font-size: 40px;
  line-height: 47.4px;
}

.landing__description_bottom {
  font-size: 20px;
}

.landing__link {
  text-decoration: none;
}

.landing__button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.landing__button {
  padding: 10px 50px 10px 50px;
  border: 5px solid black;
  border-radius: 15px;
  background: hsl(29, 6%, 89%);
  font-family: RubikBubbles;
  font-size: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s linear;
}

.landing__button:hover {
  background: hsl(29, 6%, 74%);
}

.landing__button:active {
  background: hsl(30, 76%, 64%);
}

.landing__img-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 1446px;
}

.landing__hero-img {
  width: 253px;
  height: 191px;
}
