.card {
  position: relative;
  max-width: 450px;
  margin: auto;
  padding: 50px 40px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.cardRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardHeader {
  margin: 0;
  font-size: 40px;
  text-align: center;
}

.cardContent {
  margin: 30px 0;
  font-size: 25px;
  text-align: center;
}

.cardContentFile {
  margin-bottom: 10px;
  color: gray;
}

.cardForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 450px;
  min-height: 420px;
}
