.field {
  margin-top: 50px;
}

.label {
  margin: 0 auto;
  font-size: 25px;
}

.input {
  max-width: 250px;
  padding-bottom: 5px;
  border: 0;
  border-bottom: 5px solid black;
  background-color: transparent;
  outline: none;
  font-size: 25px;
  font-family: 'Rubik Bubbles', fantasy;
  line-height: 30px;
  text-align: center;
}

.error {
  height: 20px;
  margin-top: 0.25rem;
  color: red;
  font-size: 0.75rem;
  text-align: center;
}
