.leaderboard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1920px;
  height: 1000px;
  user-select: none;
}

.leaderboard__table-caption {
  font-size: 40px;
  text-transform: uppercase;
}

.leaderboard__wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 1250px;
}

.leaderboard__button {
  width: fit-content;
  font-size: 40px;
  text-transform: uppercase;
}

.leaderboard__hero-img {
  position: absolute;
  top: 780px;
  right: 200px;
  width: 253px;
  height: 191px;
}
