.table {
  border-collapse: collapse;
  font-size: 40px;
  user-select: none;
}

.caption {
  margin-bottom: 30px;
  font-size: 40px;
  text-transform: uppercase;
}

.head {
  display: flex;
  padding-bottom: 10px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: center;
}

.ascending::after {
  content: '▲';
  display: inline-block;
  margin-left: 10px;
}

.descending::after {
  content: '▼';
  display: inline-block;
  margin-left: 10px;
}

.paddingBorder {
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}

.columnPlace {
  width: 220px;
  text-align: center;
}

.columnName {
  width: 420px;
  text-align: left;
}

.columnScore {
  width: 200px;
  text-align: center;
}

.columnGames {
  width: 330px;
  text-align: center;
}

.body {
  height: 345px;
  border-top: 5px solid black;
}

.row {
  display: flex;
  flex-direction: row;
}

.row:hover {
  background: hsl(29deg 6% 74%);
  transition: all 0.2s linear;
}
