.panel {
  display: flex;
  flex-grow: 1;
  gap: 50px;
  justify-content: start;
  width: 100%;
  height: 'max-content';
  min-height: calc(1em + 48px);
  padding-top: 0.5em;
  border-bottom: 4px solid #b0b0b0;
  background-color: #64b0ff;
  font-size: 24px;
  padding-inline-start: 0.5em;
}

.buffTile {
  display: inline-flex;
  width: 48px;
  height: 48px;
  background: url('../../assets/images/nesBomberman3x.png');
}

.buffTile:first-child {
  margin-left: auto;
}
