@keyframes count-down {
  0% {
    width: 100%;
    background-color: hsl(120deg 100% 50%);
  }

  10% {
    width: 90%;
  }

  20% {
    width: 80%;
  }

  25% {
    width: 75%;
    background-color: hsl(90deg 100% 50%);
  }

  30% {
    width: 70%;
  }

  40% {
    width: 60%;
  }

  50% {
    width: 50%;
    background-color: hsl(60deg 100% 50%);
  }

  60% {
    width: 40%;
  }

  70% {
    width: 30%;
  }

  75% {
    width: 25%;
    background-color: hsl(30deg 100% 50%);
  }

  80% {
    width: 20%;
  }

  90% {
    width: 10%;
  }

  100% {
    width: 0%;
    background: hsl(0deg 100% 53%);
  }
}

.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 5px;
  background-color: #64b0ff;
  box-shadow: 0 -4px 14px 2px #006fe6 inset;
  font-size: 60px;
}

.progressBar {
  position: relative;
  overflow: hidden;
  width: 57%;
  height: 30px;
  border-radius: 21px;
}

.bar {
  border-radius: 30px;
  background: rgb(0 0 0 / 10%);
  box-shadow: 2px 2px 4px 0 rgb(0 0 0 / 30%) inset;
}

.progressGo {
  height: 30px;
  background-color: hsl(120deg 100% 50%);
  animation: count-down var(--anim-duration) 2.7s linear forwards;
}

.progressStopped {
  width: 0%;
  height: 30px;
  background-color: hsl(120deg 100% 50%);
}

.buffs {
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 28%;
}

.buff {
  display: flex;
  align-items: center;
}

.img {
  width: 56px;
  height: 56px;
}

.panelScore {
  position: relative;
  display: flex;
  justify-content: center;
  width: 10%;
}

@media all and (display-mode: fullscreen) {
  .panel {
    height: 8vh;
    padding: 1vh;
    box-shadow: 0 0 2vh 0.2vh #004a99 inset;
    font-size: 6vh;
  }

  .progressBar {
    width: 45%;
    height: 3vh;
    border-radius: 3vh;
  }

  .bar {
    border-radius: 3vh;
    box-shadow: 0.3vh 0.3vh 0.3vh 0 rgb(0 0 0 / 30%) inset;
  }

  .progressGo {
    height: 3vh;
  }

  .progressStopped {
    height: 2vh;
  }

  .buffs {
    gap: 1.2vh;
    width: 37%;
  }

  .img {
    width: 6.4vh;
    height: 6.4vh;
  }

  .panelScore {
    width: 12%;
    font-size: 7vh;
  }
}
