.forum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forum__wrapper {
    display: flex;
    flex-direction: column;
}

.forum__link {
    max-width: 250px;
    color: black;
    padding: 10px 50px;
    border: 5px solid black;
    border-radius: 15px;
    background: hsl(29deg 6% 89%);
    font-family: 'Rubik Bubbles', fantasy;    
    cursor: pointer;
    margin-bottom: 30px;
    transition: all 0.2s linear;
    text-transform: uppercase;
}

.forum__title {
    font-family: 'Rubik Bubbles', fantasy;    
    font-weight: 400;
    font-size: 44px;
    line-height: 49px;
    text-align: center;
}