.tableItem:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.tableRow {
  font-weight: 400;
  font-size: 24px;
  font-family: 'Rubik Bubbles', fantasy;
  line-height: 29px;
  text-align: center;
}
