.forum {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/images/forumBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.forumWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(120deg 10% 78% / 75%);
  backdrop-filter: blur(0.5vh);
}

.buttonWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 600px;
}
